<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "Tests" >

	<!-- <test name="IETestCases">


		<parameter name="browser" value="IE" />

		<classes>

			<class name="com.Automation.Test.Automation_Test" />

		</classes>

	</test> -->

	<test name="ChromeTestCases">


		<parameter name="browser" value="chrome" />

		<classes>

			<class name="com.Automation.Test.Automation_Test" />

		</classes>

	</test>

	<test name="FirefoxTestCases">


		<parameter name="browser" value="firefox" />

		<classes>

			<class name="com.Automation.Test.Automation_Test" />

		</classes>

	</test>


	<!-- Test -->
</suite> <!-- Suite -->
